body{
  margin:"0px"
}
.create-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94vw;
height: 80vh;
}
.submit-btn{
  width: 60px;
}
.desktop-links {
  color: #fff;
  text-decoration: none;
  margin: 0px 10px;
}
.mobile-link {
  text-decoration: none;
  color: black;
}
.edit{
  text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}
.home-container{
  width: 95vw;
  display: flex;
  justify-content: center;
}
.WQNxq{
width: 60% !important;
}

@media only screen and (max-width: 600px) {
  .WQNxq{
    width: 100% !important;
    }
}